flask-socketio
flask-cors
flask-sqlalchemy
python-dotenv
PyJWT
pytz
attrs
scikit-image
opencv-python-headless==4.11.0.86
bcrypt
cached-property
gdown
psycopg2
uwsgi
insightface
psutil
onnxruntime-gpu
torch
torchvision
torchaudio